on: [push, pull_request]
name: Build benches on nightly toolchain
jobs:
  build_benchmarks:
    runs-on: ubuntu-latest
    env:
      RUSTFLAGS: "-D warnings"
      CARGO_UNSTABLE_SPARSE_REGISTRY: true
    steps:
      - uses: actions/checkout@v2
      - uses: dtolnay/rust-toolchain@nightly
      - name: Build benches
        run: cargo build --benches --verbose
